<div>
  {{ title }}
  <a href="#" [routerLink]="['/home']" routerLinkActive="active">Home</a
  >&nbsp;&nbsp;
  <a href="#" [routerLink]="['/countries']" routerLinkActive="active"
    >Countries</a
  >&nbsp;&nbsp;
  <a href="#" [routerLink]="['/posts']" routerLinkActive="active">Posts</a
  >&nbsp;&nbsp;
  <a href="#" [routerLink]="['/products']" routerLinkActive="active">Products</a
  >&nbsp;&nbsp;
  <a href="#" [routerLink]="['/users']" routerLinkActive="active">Users</a
  >&nbsp;&nbsp;
  <a href="#" [routerLink]="['/login']" routerLinkActive="active">Login</a
  >&nbsp;&nbsp;
  <a href="#" [routerLink]="['/admin']" routerLinkActive="active">Admin</a
  >&nbsp;&nbsp;
  <a href="#" [routerLink]="['/visitor']" routerLinkActive="active">Visitor</a
  >&nbsp;&nbsp;
</div>
