<p>maths-table works!</p>
<input type="text" [(ngModel)]="a" (keyup)='generateTable()'>
<br>
<input type="text" [(ngModel)]="b" (keyup)='generateTable()'>

<br>
Result:

<ul [ngClass]='{"text-primary": a%2==0, result: resultClass}' [innerHTML]='tablehtml'>
</ul>

<div [innerHTML]='tablehtml'>
</div>
<h3>table using ngfor</h3>
<ul>
    <li *ngFor="let res of tableresult; let i = index">{{a}} X {{i+1}}= {{res}}</li>
</ul>

<button (click)='changeClass()'>Toggle Class</button>

<div class="container">
    <div *ngIf="showImages" class="row">
        <div *ngFor="let image of images" [ngClass]="{'col-6': layout_3x2, 'col-4': !layout_3x2}">
            <img [src]='image' alt="">
        </div>

    </div>
    <div class="row">
        <div class="col-6 text-center">
            <button (click)="changeLayout('3x2')">3x2</button>
            <button (click)="changeLayout('2x3')">2x3</button>
        </div>
    </div>
</div>