<div [ngStyle]="{'backgroundColor':sum%2==0?'green':'blue'}">
    <input type="text" [(ngModel)]="username"><br>
    Typing {{username}}...
    <br>
    <button (click)="setUser()">Submit</button>
    <br>
    <span>{{ title }} app is running!</span>
    <p [ngStyle]="{'color': tcolor}">
        {{sum}}
    </p>
    <p>
        Current year is {{today.getFullYear()}}
    </p>
    <button (click)="blueText()">blue</button>
    <input type="text" [(ngModel)]="a" (keyup)="updateSum()">
    <input type="text" value="a">
</div>